<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Puestos</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body class="index-page">

    <!-- Header -->
    <header id="header" class="header d-flex align-items-center sticky-top">
		<div class="container-fluid container-xl position-relative d-flex align-items-center">

			<a href="" class="logo d-flex align-items-center me-auto">
				<!-- Uncomment the line below if you also wish to use an image logo -->
				<!-- <img src="assets/img/logo.png" alt=""> -->
				<h1 class="sitename">Usuario</h1>
			</a>

			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a href="" class="active">Home</a></li>
					<li class="dropdown"><a href="#"><span>Agregar</span> <i
								class="bi bi-chevron-down toggle-dropdown"></i></a>
						<ul>
							<li><a href="{{ url_for('user.area') }}"">Área</a></li>
							<li><a href="{{ url_for('user.departamento') }}"">Departamento</a></li>
							<li><a href="{{ url_for('user.puesto') }}"">Puesto</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#"><span>Lista</span> <i
						class="bi bi-chevron-down toggle-dropdown"></i></a>
				<ul>
					<li><a href="#">Área</a></li>
					<li><a href="#">Departamento</a></li>
					<li><a href="#">Puesto</a></li>
				</ul>
			</li>
				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>

			<a class="btn-getstarted" href="{{ url_for('main.logout') }}">Cerrar Sesión</a>

		</div>
	</header>
    <!-- End Header -->

    <!-- Main Content -->
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="section hero">
            <div class="container">
                <div class="small-card">
                    <div class="card-header text-center mt-4">
                        <h1>Agregar Puesto</h1>
                    </div>
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Nombre del puesto:</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Selecciona el departamento:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            //{% for area in areas %}
                                            <option value="{{ area[0] }}">{{ area[1] }}</option>
                                       // {% endfor %}
                                        </select>
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Jefe:</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Empieza por apellido paterno">
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Clave:</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Número de plazas:</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Objetivo:</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-5">
                                        <label for="exampleFormControlFile1" class="form-label">Ubicación:</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Funciones especificas:</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" >
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Equipo de trabajo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Reemplaza a:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Es reemplazado por:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h1>Relaciones Internas</h1>
                                <h2 class="mt-4">Dentro del departamento</h2>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Selecciona el departamento:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Objetivo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                      </div>
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h2 class="mt-4">Dentro del Área</h2>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Selecciona el Área:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Objetivo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                      </div>
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h2 class="mt-4">Fuera del Área</h2>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Selecciona:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Objetivo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                      </div>
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h1>Relaciones Externas</h1>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Selecciona:</label>
                                        <select id="exampleInputEmail1" name="id_area" class="form-select" required>
                                            <option value=""></option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Objetivo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                      </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group mt-3">
                                    <label for="exampleInputEmail1" class="form-label">Funciones Específicas:</label>
                                    <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                  </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h3>Condiciones de trabajo</h3>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div>
                                        <label for="exampleInputEmail1" class="form-label">Esfuerzo físico:</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Normal" value="Normal">
                                        <label class="form-check-label" for="inlineRadio1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Complejo" value="Complejo">
                                        <label class="form-check-label" for="inlineRadio2">Complejo</label>
                                    </div>  
                                </div>

                                <div class="col">
                                    <div>
                                        <label for="exampleInputEmail1" class="form-label">Esfuerzo mental:</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Rutina</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Mediana</label>
                                    </div>  
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Definido</label>
                                    </div>  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Riesgo de accidente:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Nulo</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Regular</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Poco</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Frecuente</label>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Ambiente:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Normal interno</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Deficiente interno</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Normal exterior</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Deficiente exterior</label>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-3">
                                        <label for="exampleInputEmail1" class="form-label">Equipo de trabajo:</label>
                                        <textarea type="text" class="form-control" id="exampleInputEmail1" ></textarea>
                                      </div>
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h1>Competencias</h1>
                                <h2 class="mt-4">Generales</h2>
                                <small id="emailHelp" class="form-text text-muted">A=Con alto dominio,  B= Buen Dominio, C= Mínimo esperado.</small>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Responsabilidad:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Compromiso organizacional:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Empatía:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>
                                    </div>  
                                </div>
                            </div>

                            <div class="card-header text-center mt-4">
                                <h1>Competencias</h1>
                                <h2 class="mt-4">Específicas</h2>
                                <small id="emailHelp" class="form-text text-muted">A=Con alto dominio,  B= Buen Dominio, C= Mínimo esperado.</small>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mt-4">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Conocimiento técnico en mantenimiento de vehículos:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group mt-5">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Trabajo en equipo:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col">
                                    <div class="form-group mt-5">
                                        <div>
                                            <label for="exampleInputEmail1" class="form-label">Dinamismo - Energía:</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">A</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">B</label>
                                        </div>  
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">C</label>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Hero Section -->
    </main>
    <!-- End Main Content -->

    <!-- Footer -->
    <footer id="footer" class="footer position-relative">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="d-flex align-items-center">
                        <span class="sitename">Ninestars</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>info@example.com</span></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Enlaces Útiles</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre nosotros</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Servicios</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Términos de servicio</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Nuestros Servicios</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Diseño Web</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Desarrollo Web</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Gestión de Producto</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h4>Síguenos</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links d-flex">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="container text-center mt-4">
            <p>&copy; <span>Copyright</span> <strong class="px-1 sitename">Ninestars</strong> <span>Todos los derechos reservados</span></p>
            <div class="credits">
                Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
